  
#nacht {
    background-image: url("../images/night.png");
}
#morgen {
    background-image: url("../images/morning.png");
}
#middag {
    background-image: url("../images/afternoon.png");
}
#avond {
    background-image: url("../images/evening.png");
}

body {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin-top: 5em;
    color: white;
    font-size: 4em;
    font-family: "Comic Sans MS", cursive, sans-serif;
}